# Base URL
WEB_URL=http://localhost:3001
NEXT_PUBLIC_WEB_URL=http://localhost:3001

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/database

# Superadmin seed
SEED_SUPERADMIN_EMAIL=superadmin@carnet.local
SEED_SUPERADMIN_PASSWORD=change-this-password
